* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  background: linear-gradient( #aebbdd, #345ec9 );
  color: #282c36;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}
